<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.icddrb.suchana">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name="org.icddrb.suchana.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.icddrb.suchana.SettingForm"
            android:label="Device Setting" />
        <activity
            android:name="org.icddrb.suchana.MainMenu"
            android:label="Main Menu" />
        <activity
            android:name="org.icddrb.suchana.HHIdentity"
            android:label="IDENTITY FORM" />
        <activity
            android:name="org.icddrb.suchana.HHIdentity_list"
            android:label="IDENTITY LIST" />
        <activity
            android:name="org.icddrb.suchana.Member"
            android:label="MEMBER FORM" />
        <activity
            android:name="org.icddrb.suchana.Member_list"
            android:label="MEMBER LIST" />
        <activity
            android:name="org.icddrb.suchana.SES"
            android:label="SES FORM" />
        <activity
            android:name="org.icddrb.suchana.SES_list"
            android:label="SES FORM" />
        <activity
            android:name="org.icddrb.suchana.Land"
            android:label="LAND FORM" />
        <activity
            android:name="org.icddrb.suchana.Land_list"
            android:label="LAND LIST" />

        <activity
            android:name="org.icddrb.suchana.HDDS_list"
            android:label="HDDS LIST" />
        <activity
            android:name="org.icddrb.suchana.HDDS"
            android:label="HDDS FORM" />
        <activity
            android:name="org.icddrb.suchana.Loan_list"
            android:label="LOAN LIST" />
        <activity
            android:name="org.icddrb.suchana.Loan"
            android:label="LOAN FORM" />

        <activity
            android:name="org.icddrb.suchana.Savings_list"
            android:label="SAVING LIST" />
        <activity
            android:name="org.icddrb.suchana.Savings"
            android:label="SAVING FORM" />

        <activity
            android:name="org.icddrb.suchana.HFIAS_list"
            android:label="HFIAS LIST" />
        <activity
            android:name="org.icddrb.suchana.HFIAS"
            android:label="HFIAS FORM" />

        <activity
            android:name="org.icddrb.suchana.Illness_list"
            android:label="Illness LIST" />
        <activity
            android:name="org.icddrb.suchana.Illness"
            android:label="Illness FORM" />

        <activity
            android:name="org.icddrb.suchana.IGA_list"
            android:label="IGA LIST" />
        <activity
            android:name="org.icddrb.suchana.IGA"
            android:label="IGA FORM" />




        <!--<activity android:name="navigationDrawer.NavigationActivity" android:label="Nav"/>-->

        //Android Manifest Code
        <!--<activity android:name="org.icddrb.data.Screening" android:label="Screening" />-->

    </application>

</manifest>