<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.icddrb.suchana">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name="org.icddrb.suchana.LoginActivity"
            android:autoRemoveFromRecents="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.icddrb.suchana.SettingForm"
            android:label="Device Setting"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.icddrb.suchana.MainMenu"
            android:label="Main Menu" />
        <activity
            android:name=".UpdateMenu"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".Screening" />

        <activity android:name=".HHIdentity" />
        <activity android:name=".HHIdentity_final" />
        <activity android:name=".HHIdentity_list" />
        <activity android:name=".Member" />
        <activity android:name=".Member_list" />
        <activity android:name=".SES" />
        <activity android:name=".AssetB" />
        <activity android:name=".AssetB_list" />
        <activity android:name=".AssetNB" />
        <activity android:name=".HDDS" />
        <activity android:name=".Savings" />
        <activity android:name=".Savings_list" />
        <activity android:name=".Land" />
        <activity android:name=".Land_list" />
        <activity android:name=".FdHabit" />
        <activity android:name=".FoodDiversity" />
        <activity android:name=".Anthro" />
        <activity android:name=".Destruction1" />
        <activity android:name=".Destruction2" />
        <activity android:name=".Agriculture" />
        <activity android:name=".Agriculture_list" />
        <activity android:name=".NGOWork" />
        <activity android:name=".Illness1" />
        <activity android:name=".Illness1_list" />
        <activity android:name=".Illness2" />
        <activity android:name=".Illness2_list" />
        <activity android:name=".Careseek" />
        <activity android:name=".IGA" />
        <activity android:name=".Loan" />
        <activity android:name=".Loan_list" />
        <activity android:name=".HFIAS" />
        <activity android:name=".Cost1" />
        <activity android:name=".Cost2" />
        <activity android:name=".Cost3" />
        <activity android:name=".FdHabitKnow" />
        <activity android:name=".NutHealth" />
        <activity android:name=".WomenEmp" />
        <activity android:name=".DomViolance" />
        <activity android:name=".PregHis" />
        <activity android:name=".Knowledge" />
        <activity android:name=".HandWash" />
        <activity android:name=".Father" />
        <activity android:name=".Adolescent" />
        <activity android:name=".HHIdentity_list_Old" />
        <activity android:name=".Adolescent_list" />
        <activity android:name=".QC" />
        <activity android:name=".SettingFormNew" />


        <!--<activity android:name="navigationDrawer.NavigationActivity" android:label="Nav"/>-->

        //Android Manifest Code
        <!--<activity android:name="org.icddrb.data.Screening" android:label="Screening" />-->

    </application>

</manifest>