<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.icddrb.suchana">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name="org.icddrb.suchana.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.icddrb.suchana.SettingForm"
            android:label="Device Setting"></activity>
        <activity
            android:name="org.icddrb.suchana.MainMenu"
            android:label="Main Menu"></activity>
        <activity
            android:name="org.icddrb.suchana.HHIdentity"
            android:label="IDENTITY FORM"></activity>
        <activity
            android:name="org.icddrb.suchana.HHIdentity_list"
            android:label="IDENTITY LIST"></activity>
        <activity
            android:name="org.icddrb.suchana.Member"
            android:label="MEMBER FORM"></activity>
        <activity
            android:name="org.icddrb.suchana.Member_list"
            android:label="MEMBER LIST"></activity>
        <activity
            android:name="org.icddrb.suchana.SES"
            android:label="SES FORM"></activity>
        <activity
            android:name="org.icddrb.suchana.SES_list"
            android:label="SES FORM"></activity>
        <activity
            android:name="org.icddrb.suchana.Land"
            android:label="LAND FORM"></activity>
        <activity
            android:name="org.icddrb.suchana.Land_list"
            android:label="LAND LIST"></activity>

        <!--<activity android:name="navigationDrawer.NavigationActivity" android:label="Nav"></activity>-->

        //Android Manifest Code
        <!--<activity android:name="org.icddrb.data.Screening" android:label="Screening" />-->

    </application>

</manifest>